<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refresharr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo/16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo/32.png') }}" sizes="32x32">

</head>
<body>
    <div class="header">
        {% block header %}
        <img src="{{ url_for('static', filename='logo/32.png') }}" alt="Logo" class="header-logo">
        <h1><a href="https://github.com/Refresharr/Refresharr" target="_blank" class="title-link">Refresharr</a></h1>
        <nav>   
            <ul>
                <li><a href="/radarr" id="navRadarr" class="title-link">Radarr</a></li>
                <li><a href="/sonarr" id="navSonarr" class="title-link">Sonarr</a></li>
                <li><a href="/lidarr" id="navLidarr" class="title-link">Lidarr</a></li>
                <li><a href="/readarr" id="navReadarr" class="title-link">Readarr</a></li>
                <li><a href="/settings" class="title-link">Settings</a></li>
                <li><a href="/live-logs" class="title-link">Logs</a></li>
            </ul>
        </nav> 
        <div class="theme-toggle">
            <label class="switch">
                <input type="checkbox" id="themeToggle">
                <span class="slider round"></span>
            </label>
            <span id="themeLabel">Light Mode</span>
        </div>
    </div>
    {% endblock %}
    
    {% block content %}{% endblock %}



    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>