{% extends 'base.html' %}
{% block content %}
<div id="lidarrContainer" class="arr-content-section">

    <div class="settings-form">       
        <div class="settings-group">
            <h3>Lidarr API Settings</h3>
            <div class="setting-item">
                <label for="lidarr_enabled">Enable Lidarr:</label>
                <label class="toggle-switch">
                    <input type="checkbox" id="lidarr_enabled">
                    <span class="toggle-slider"></span>
                </label>
            </div>
            <div class="setting-item">
                <label for="lidarr_url">Url:</label>
                <input type="text" id="lidarr_url">
                <p class="setting-help">The url to access lidarr. http://lidarr:8989</p>
            </div>
            <div class="setting-item">
                <label for="lidarr_api_key">API Key:</label>
                <input type="text" id="lidarr_api_key">
                <p class="setting-help">http://your_lidarr_url:8989/settings/general</p>
            </div>
            <div class="setting-item">
                <label for="lidarr_upgrade">Search for quality unmet:</label>
                <label class="toggle-switch">
                    <input type="checkbox" id="lidarr_upgrade">
                    <span class="toggle-slider"></span>
                </label>
                <p class="setting-help">Finds albums that don't meet your quality cutoff settings</p>
            </div>
        </div>
        
        <div class="settings-buttons">
            <button id="lidarrSaveButton" class="save-button">Save Settings</button>
            <button id="lidarrResetButton" class="reset-button">Reset to Defaults</button>
        </div>
    </div>
</div>
{% endblock %}